<% content_for :submenu do -%>
  <%= link_to 'Add Expense', new_expense_path %>
<% end -%>


<% if @assets.empty? %>
  <table width="891">
    <td height="300" style="padding:50px;background-color:#d6e5ff;color:blue;">
        <span class="instructions">
          <p>
            You need to add assets before you can add expenses. <%= link_to 'Click here', new_asset_path %> to begin adding assets.
          </p>
        </span>
    </td>
  </table>
 <% elsif @expenses.empty? %>
  <table width="891">
    <td height="300" style="padding:50px;background-color:#d6e5ff;color:blue;">
        <span class="instructions">
          <p>
            You have no expenses currently. <%= link_to 'Click here', new_expense_path %> to begin adding expenses.
          </p>
        </span>
    </td>
  </table>
<% else %>
  <table width="891">
    <tr>
      <th width="125">Amount</th>
      <th width="222">Asset</th>
      <th width="386"><p>Remarks</p></th>
      <th width="120">Expense Date</th>
      <th width="138" style="border-right:solid 1px #d4e5ff">Manage</th>
    </tr>
    <% @expenses.each do |expense| %>
      <tr class="<%=h cycle("row1", "row2") -%>">
      <td style="text-align:center;"><%=h number_to_currency(expense.amount) %></td>
        <td><%=h correspondin_asset(expense.asset_id) %></td>
        <td><%=h truncate(expense.remarks, 80) %></td>
        <td><%=h expense.date.strftime("%b %d, %Y") %></td>
        <td class="manage" style="border-right:solid 1px #d4e5ff">
          <div class="img"><%= link_to image_tag("show.png"), expense %></div>
          <div class="img"><%= link_to image_tag("edit.png"), edit_expense_path(expense) %></div>
          <div class="img"><%= link_to image_tag("delete.png"), expense, :confirm => 'Are you sure?', :method => :delete %></div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

