<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- <title><%#= controller.controller_name.capitalize -%>: <%#= controller.action_name %></title>-->
  <!-- <title>Asset Expense Manager v1.0: <%#= controller.controller_name.capitalize -%></title> -->
  <title>Coojo - Simple Asset Expense Tracking</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'reset', 'text', '960', 'style' %>
</head>
<body>
    <div class="container_12">
    	<div id="banner" class="grid_12" style="background-color:#d6e5ff;">
        <div>
        </div>
      </div>
    	<div class="clear"></div>
   	  <div id="header" class="grid_12">
        	<div id="navbar">
              	<ul>
                  <!-- <li></li> -->
                  <li style="margin-left:20px;" class="list-item" id="<%= "active" if page_is?("assets") %>"><%= link_to "My Assets", assets_path %></li>      
                  <li class="list-item" id="<%= "active" if page_is?("expenses") %>"><%= link_to "Expenses", expenses_path %></li>
                  <li class="list-item" id="<%= "active" if page_is?("reports") %>"><a href="">Reports</a></li>
                </ul>
          </div>
        <div id="imagebar">
          <span class="submenu"><%= yield :submenu %> </span>
        </div>
      </div>
      <div id="wrapper" class="grid_12">
        <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
      </div>
      <div id="footer" class="grid_12">
        <div class="grid_4 alpha "></div>
        <div class="grid_4 "></div>
        <div class="grid_4 omega"></div> 
      </div>
</body>
</html>
